{% extends "base.html" %}
{% block title %}Jakob Dams - About{% endblock%}
{% block description %}{% endblock%}
{% block content %}
<div class="slogans grid_12">
    <blockquote>
&#8220;The saying &#8216;mens sana in corpore sano&#8217; (a sound mind in a sound body)
characterizes Jakob well.&#8221; 
  </blockquote>
  <div class="source">
    &#8212; <a href="http://en.wikipedia.org/wiki/Olivier_Danvy">Olivier Danvy</a>
  </div>
</div>

<div class="grid_12">
  <h2>About</h2>

  <div class="grid_6 alpha">
  <h3>Current work</h3>
  <p>Currently head of front-end development on
    <a href="http://www.cabo.dk/produkter-en/irigo-clouds-en">Irigo
      Clouds</a> (an Infrastructure-as-a-Service)
      at <a href="http://cabo.dk">cabo.dk</a>.
  </p>
  
  <h3>Recent Open Source Projects</h3>
  <p><a href="http://github.com/jakobadam/vnc">VNC applet</a> -
    added support
    for <a href="http://berrange.com/tags/key-codes/">extended key
      events</a> and improved key kandling on non-US keyboards.
  </p>
  <p><a href="http://github.com/jakobadam/plupload/tree/applet">Plupload</a> -
    added support for unlimited sized file uploads
  </p>
    <h3>Articles</h3>
    <p >June '10</p >
    <ul>
      <li><a href="http://www.computerworld.dk/art/56448?a=exp&i=80">CS thesis of the year makes kiters jump of joy (danish)</a></li>
    </ul>

    <p >November '09</p >
    <ul>
      <li><a href="http://www.prosa.dk/aktuelt/nyhed/artikel/hurtigt-op-i-skyen/">Quickly up into the cloud (danish)</a>&nbsp;<a href="http://translate.google.com/translate?js=n&prev=_t&hl=en&ie=UTF-8&layout=2&eotf=1&sl=auto&tl=en&u=http://www.prosa.dk/aktuelt/nyhed/artikel/hurtigt-op-i-skyen/">(translated version)</a></li>
      <li><a href="http://videnskab.dk/content/dk/teknologi/hobby_resulterede_i_speciale-12-tal">Hobby resulted in top-grade (danish)</a>&nbsp;<a href="http://translate.google.com/translate?js=n&prev=_t&hl=en&ie=UTF-8&layout=2&eotf=1&sl=auto&tl=en&u=http://videnskab.dk/content/dk/teknologi/hobby_resulterede_i_speciale-12-tal">(translated version)</a></li>
    </ul>

  </div>

  <div class="grid_6 omega">
  <h3>Sites</h3>
  <p>
    <a href="http://www.agfhaandbold.dk/">agfhaandbold.dk</a> -
    Community site for the best handball club in Aarhus driven
    by Google App Engine. (Tags: Django, Google App Engine)
  </p>
  <p>
    <a href="http://www.supersundt.dk/">supersundt.dk</a> -
    Company site for SuperSundt. (Tags: HTML5, Google App Engine)
          </p>
  <p>
    <a href="http://www.welovewind.com/">welovewind.com</a> -
    Weather site for kite- and windsurfers. Prototype developed
    as a part of
    my <a href="http://www.daimi.au.dk/~dam/thesis.pdf">master's
      thesis</a>. (Tags: REST, Geohash, Google App Engine, Geographical
    Information Systems)
  </p>

  <h3>Talks</h3>
  <p>December '10</p>
  <ul>
    <li>
      <a href="http://cs.au.dk/CWP/">Client-Based Web Programming</a> guest lecture: <a href="http://prezi.com/fhyicp9whx7m/case-study-unlimited-sized-file-uploads/">Case Study: Unlimited Sized Uploads</a>
    </li>
  </ul>

  <p>September '10</p>
  <ul>
    <li>Master's thesis winnner talk, Danish Society for Computer Science, Copenhagen</li>
    </li>
  </ul>

  <p>January '10</p>
  <ul>
    <li>Case Study: Wind Spots Mashup on Google App Engine, IBM Research Center T.J. Watson, New York</li>
  </ul>

  <p>November '09</p>
  <ul>
    <li>
      <a href="http://cs.au.dk/AWT/">Advanced Web Technology</a> guest lecture: <a href="http://docs.google.com/present/edit?id=0ASNmFGurUy1tZGdtOHBya2tfMTQ1Z3o5ZnM0Znc&hl=en">Creating a Mashup for Wind Sports</a>
        <p>Tags: web scraping, JSON, JSONP, geolocation lookup, HTTP caching</p> 
    </li>
  </ul>
  
  <p>October '09</p>
  <ul>
    <li><a href="http://cs.au.dk/da/news-events/events-archive/event/article/pl-seminar-talk-jakob-aaroee-dam-1/">[PL Seminar] Talk:</a>
      Case Study: Wind Sports Mashup on Google App Engine</li>
  </ul>
  
  <p>September '09</p>
  <ul>
    <li>JAOO Aarhus '09 talk: <a href="http://docs.google.com/present/view?id=dgm8prkk_98ftst8txz">Case Study: Wind Sports Mashup on Google App Engine</a>
      <p>Tags: Google App Engine, GAE restrictions, GIS, paging, indexes</p> 
    </li>
  </ul>

  </div>



</div> 
{% endblock %}
