{% extends "base.html" %}
{% block title %}Jakob Aarøe Dam's Personal Web Page{% endblock%}
{% block description %}Handballer, kitesurfer, and expert 360° web developer; currently, working with cloud infrastructure as a service.{% endblock%}
{% block updated %}<time pubdate datetime="2011-04-06">Apr 6, 2011</time>{%endblock%}
{% block content %}
    <div class="grid_12" style="border-bottom: 1px solid #EAEAEA;">
      <h1 style="float:right">Recent blog posts</h1>
    </div>
  
    <div class="grid_12">
      <article>
        <header>
          <h2>
            <a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-with-dojo-and-python-werkzeug-part-3-the-front-end">
              Building a RESTful Ajax app using dojo and python werkzeug (part 3): the front-end
            </a>
          </h2>
          <time pubdate datetime="2011-02-16">Feb 16, 2011</time>
        </header>
        <p>This post describes the implementation of an Ajax front-end using 
          <a href="http://http://dojotoolkit.org/">the dojo toolkit</a>. The application is available
  at <a href="http://letsplantheevent.appspot.com/">letsplantheevent</a>.&nbsp;
        </p>
        <p><a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-with-dojo-and-python-werkzeug-part-3-the-front-end">[more]</a></p>
      </article>

      <article>
        <header>
          <h2>
            <a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-2-the-back-end">
              Building a RESTful Ajax app using dojo and python werkzeug (part 2): the back-end
            </a>
          </h2>
          <time pubdate datetime="2011-02-04">Feb 4, 2011</time>
        </header>
        <p>This post describes the
          implementation of a RESTful back-end. For a description of the
          architecture take a look
          at <a href="building-a-restful-ajax-app-with-dojo-and-python-werkzeug-part-1">part
          1</a>. The source code is available
          at <a href="//github.com/jakobadam/letsplantheevent/tree/task-list-example">github</a>.
          </p>
          <p><a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-2-the-back-end">[more]</a></p>
      </article>

      <article>
        <header>
          <h2>
            <a href="//www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-1">
              Building a RESTful Ajax app using dojo and python werkzeug (part 1)
            </a>
          </h2>
          <time pubdate datetime="2011-02-03">Feb 3, 2011</time>
        </header>
        <p>First post in a series that demonstrates
        how to create a small RESTful Ajax application leveraging the
        Dojo Toolkit and Python Werkzeug. This post describes the
        architecture of a sample application that is developed during
        the posts.
        </p>
        <p><a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-1">[more]</a></p>
      </article>

      <article>
        <header>
          <h2><a href="http://www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">Applets: LiveConnect and Deployment</a></h2>
          <time pubdate datetime="2011-01-25">Jan 25, 2011</time>
        </header>
        <p>Recently, I created several Applets because they were the
        only satisfying tool for requirements put on me. Several
        issues arised because of rudimentary, stale, or unsatisfactory
        applet documentation, and buggy browsers. This post describes
        missing information about Java-to-JavaScript interaction and
        deployment regarding Applets. 
        </p>
        <p><a href="http://www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">[more]</a></p>
      </article>

    </div> 
{% endblock %}
