{% extends "base.html" %}
{% block title %}Jakob Aarøe Dam's | Personal Web Page{% endblock%}
{% block description %}Handballer, kitesurfer, and expert 360° web developer; currently, working with cloud infrastructure as a service.{% endblock%}
{% block content %}
    <!-- <div class="slogans grid_12"> -->
    <!--   <h2>Recent posts</h2> -->
    <!-- </div> -->
  
    <div class="grid_12">
        <h2>
          <a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-2-the-back-end">
            Building a RESTful ajax app using dojo and python werkzeug (part 2)
          </a>
        </h2>
        <p>Feb 4, 2011</p>
        <p>This post is the second post in a series that demonstrate
        how to create a small RESTful Ajax application leveraging the
        Dojo Toolkit and Python Werkzeug. This post describes the
        implementation of a RESTful back-end. For a description of the
        architecture take a look
        at <a href="building-a-restful-ajax-app-with-dojo-and-python-werkzeug-part-1">part
        1</a>. The source code is available
        at <a href="//github.com/jakobadam/letsplantheevent/tree/task-list-example">github</a>
          <a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-2-the-back-end">[more]</a>
        </p>

        <h2>
          <a href="//www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-1">
            Building a RESTful ajax app using dojo and python werkzeug (part 1)
          </a>
        </h2>
        <p>Feb 3, 2011</p>
        <p>This post is the first post in a series that demonstrate
        how to create a small RESTful Ajax application leveraging the
        Dojo Toolkit and Python Werkzeug. This post describes the
        architecture of a sample application that is developed during
        the posts.
          <a href="http://www.cabo.dk/blog/jakobs-blog/building-a-restful-ajax-app-using-dojo-and-python-werkzeug-part-1">[more]</a>
        </p>

        <h2><a href="http://www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">Applets: LiveConnect and Deployment</a></h2>
        <p>Jan 25, 2011</p>
        <p>Recently, I created several Applets because they were the
        only satisfying tool for requirements put on me. Several
        issues arised because of rudimentary, stale, or unsatisfactory
        applet documentation, and buggy browsers. This post describes
        missing information about Java-to-JavaScript interaction and
        deployment regarding Applets. 
          <a href="http://www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">[more]</a>
        </p>


    </div> 
{% endblock %}
