{% extends "base.html" %}
{% block title %}Jakob Dams Playground{% endblock%}
{% block description %}{% endblock%}
{% block content %}
    <!-- <div class="slogans grid_12"> -->
    <!--   <h3>&#8220; &#8220;</h3> -->
    <!-- </div> -->
  
    <div class="grid_12">
        <h2><a href="//www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">Applets: LiveConnect and Deployment</a></h2>
        <p>Jan 25, 2011</p>
        <p>Recently, I created several Applets because they were the
        only satisfying tool for requirements put on me. Several
        issues arised because of rudimentary, stale, or unsatisfactory
        applet documentation, and buggy browsers. This post describes
        missing information about Java-to-JavaScript interaction and
        deployment regarding Applets. <a href="//www.cabo.dk/blog/jakobs-blog/applets-missing-information-about-liveconnect-and-deployment">[more]</a></p>

        <h3></h3>
        <p>
        </p>
    
        <p>
        </p>
    </div> 
{% endblock %}
