{% extends "base.html" %}
{% block title %}Java VNC Applet{% endblock %}
{% block description %}Online test of the Java VNC applet running as an applet in the browser.{% endblock %}
{% block updated %}<time pubdate datetime="2011-04-07">Apr 7, 2011</time>{%endblock%}
{% block head %}
{% endblock %}

{% block content %}
<style>
input{background-color:#ebebeb;}
button {
background: url("//ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/tundra/images/buttonEnabled.png") repeat-x scroll left bottom #FFFFFF;
border-color: #C0C0C0 #C0C0C0 #9B9B9B;
border-style: solid;
border-width: 1px;
padding: 0.1em 0.2em 0.2em;
}
</style>
<div class="grid_12">
  <div style="float:right"> 
    <p>Source available at <a href="http://github.com/jakobadam/vnc">github</a></p> 
  </div> 

  <h1>VNC in the browser</h1>
  
  <p>Preconditions: Access to a VNC Server.</p>
  <p>On Linux, you can use kvm to run a virtual machine with a VNC
  server, e.g., by taking the following steps:</p>

    <ul>
      <li>Download and extract a prepacked qemu image from <a href="http://wiki.qemu.org/Download">qemu download</a>, e.g., 
        <a href="http://wiki.qemu.org/download/linux-0.2.img.bz2" title="http://wiki.qemu.org/download/linux-0.2.img.bz2" rel="nofollow">linux-0.2.img.bz2</a>
      </li>
      <li>
        <pre>$ kvm linux-0.2.img -vnc :0</pre>
      </li>
      <li>
        press start VNC below
      </li>
    </ul>
  </p>

  <form>
    <p>
      <label for="host">Host</label>
      <input id="host" type="text" name="host" required="required" placeholder="host" value="localhost" />
    </p>
    <p>
      <label for="port">Port</label>
      <input id="port" type="text" required="required" placeholder="port" value="5900" />
    </p>
  </form>

  <p>
    <button id="start_button" style="vertical-align:bottom">Start VNC</button>
    <img id="loading_indicator" height="18px" alt="loading ..." style="display:none;vertical-align:bottom" src="/static/img/loader.gif" />
    <span id="status" />    
  </p>

  <p>Note about keymappings:<a href="//docs.irigo.com/topics/HEpmybLN" rel="help" target="_blank" class="irigo-tooltip">help</a>
  </p>
  
  <div id="disqus_thread"></div>
</div>

<div id="applets"></div>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
<script src="/static/vnc/examples/applet.js?v=4"></script>
<script src="/static/vnc/examples/vnc.js?v=4"></script>
<script>
dojo.ready(function(){

  var vnc_client_ids = {};
  
  function getArgs(){
    return {
      host: dojo.byId('host').value,
      port: dojo.byId('port').value,
      title: "VNC Remote Desktop Viewer",
      archive: '/static/vnc/examples/vnc.jar'
    };
  }

  dojo.query('#start_button').onclick(function(){
    var id = vnc.start('applets', getArgs());
    vnc_client_ids[id] = true;
  });

  dojo.subscribe('vnc:inject', function(){
    dojo.query('#loading_indicator').style('display', 'inline');
  });

  dojo.subscribe(vnc.INIT, function(){
    dojo.query('#loading_indicator').style('display', 'none');
    dojo.byId('status').innerHTML = '<span style="color:green">started</span>';
  });

  dojo.subscribe(vnc.DESTROY, function(obj){
    dojo.query('#loading_indicator').style('display', 'none');
    dojo.byId('status').innerHTML = '<span style="color:green">' + obj.msg + '</span>';
    dojo.destroy(obj.id);
  });

  dojo.subscribe(vnc.CONNECTION_ERROR, function(obj){
    dojo.query('#loading_indicator').style('display', 'none');
    dojo.byId('status').innerHTML = '<span style="color:red">' + obj.msg + '</span>';
    dojo.destroy(obj.id);
  });
});
</script>

<script src="//docs.irigo.com/plugin/embed.js"></script>
<script>
  dojo.ready(function(){
    dojo.query('.irigo-tooltip').irigoTooltip();
  });
</script>
{% endblock %}

