{% extends "base.html" %}
{% block title %}Java VNC Applet{% endblock %}
{% block description %}Online test of the Java VNC applet running as an applet in the browser.{% endblock %}

{% block content %}
<style>
input {width: 200px;padding: 4px 0px 4px 0px;margin: 5px 5px 0px 0px;display: block; background-color:#e6e6e6;}
form {margin: 5px 10px 0px 0px;}
pre {padding:0;}
</style>
<div class="grid_12">
  <div style="float:right"> 
    <p>Source available at <a href="http://github.com/jakobadam/vnc">github</a></p> 
  </div> 

  <h1>VNC in the browser</h1>
  
  <p>Preconditions: Access to a VNC Server. On Linux use kvm to run a
  virtual machine with a VNC server. No VNC server at hand, then take
  the following steps:

    <ul>
      <li>Download and extract a prepacked qemu image from <a href="http://wiki.qemu.org/Download">qemu download</a>, e.g., 
        <a href="http://wiki.qemu.org/download/linux-0.2.img.bz2" title="http://wiki.qemu.org/download/linux-0.2.img.bz2" rel="nofollow">linux-0.2.img.bz2</a>
      </li>
      <li>
        <pre>$ kvm linux-0.2.img -vnc :0</pre>
      </li>
      <li>
        press start VNC below
      </li>
    </ul>
  </p>

  <form>
    <label for="host">Host</label>
    <input id="host" type="text" name="host" required="required" placeholder="host" value="localhost" />
    <label for="port">Port</label>
    <input id="port" type="text" required="required" placeholder="port" value="5900" />
    <label for="show_controls">Show controls</label>
    <select id="show_controls">
      <option value="no">no</option>
      <option value="yes">yes</option>
    </select>
  </form>
  <button id="startButton">Start VNC</button>

  <div style="float:right">
    <p>Updated: <time pubdate datetime="2011-02-16">Apr 5, 2011</time></p>
  </div>

</div>

<div id="applets"></div>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
<script src="/static/vnc/examples/applet.js?v=1"></script>
<script src="/static/vnc/examples/vnc.js?v=1"></script>
<script>
dojo.ready(function(){

  function getArgs(){
    return {
      host: dojo.byId('host').value,
      port: dojo.byId('port').value,
      show_controls: dojo.byId('show_controls').value,
      title: "VNC Remote Desktop Viewer",
      archive: '/static/vnc/examples/vnc.jar'
    };
  }

  dojo.query('#startButton').onclick(function(){
    vnc.start('applets', getArgs());
  });
});
</script>

{% endblock %}

